.advantages__list {
    display: flex;
    margin-left: -30px;
}
.advantages__item {
    flex-basis: calc((100%-120px) / 4);
    margin-left: 30px;
}
.advantages__pic-positioning {
    @include size(270px, 120px);
    background-color: var(--secondary-background-color);
    @extend %align;
    justify-content: center;
    margin-bottom: 30px;
}
.advantages__pic-item {
    @include size(70px, 70px);
    object-position: center;
}
.advantages__item-header {
    margin-bottom: 10px;
    @include font(14px, 700, 16px);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.advantages__item-description {
    @include font(14px, 400, 24px);
    color: var(--primary-text-color-light);
    letter-spacing: 0.03em;
}