.services__section {
    padding-top: 0;
}
.services__list.list {
    display: flex;
    margin-left: -30px;
}
.service__item {
    flex-basis: calc((100%-90px) / 3);
    margin-left: 30px;
}
.service__card {
    position: relative;
}
.service__name {
    position: absolute;
    @extend %align;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    @include font(14px, 700, 16px);
    justify-content: center;
    color: var(--primary-text-color-white);
    background-color: var(--service-background-color);
    text-transform: uppercase;
}